@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


.result-hover:hover {
    background: #d6d6d6;
    border-radius: 5px;
}

.title-phone {
    font-size: 24px;
}

.imei-info-link {
    /* padding-top: 5px; */
    vertical-align: middle;
    float: right;
    font-size: 16px;
}

.info-about-phone {
}

#line_block { 
    /* width:110px;  */
    /* height:50px;  */
    /* background:#f1f1f1;  */
    float:left; 
    margin: 0 15px 15px 0; 
    /* text-align:center; */
    padding: 10px;
}

.content {
    width: 65%;
}